*{box-sizing: border-box}
body{font:13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol" }
div{display: block;}
li{display: block;
  	list-style: none;}
a{color: #4078c0;
  	text-decoration: none;}