* {ox-sizing: border-box}
body{word-wrap: break-word;
	font:13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol" ;
	margin:0; padding:0;}
div{margin:0; padding:0}
li{display: block;
  	list-style: none;}
a{color: #4078c0;
  	text-decoration: none;}
h1{margin-bottom: 15px;
	margin-top: 15px;
	line-height: 1.1;}
p{display: block;}
dd{margin: 0 auto}

