.github-head-nav{padding-top: 15px;
	padding-bottom: 15px;}
.second_signup{background-color: #202021;
	background-image: url(https://assets-cdn.github.com/images/modules/home/octicons-bg.png);
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;}
.container{width: 980px;
	margin: auto;
	position: relative;}
.first_container{height: 28px;}
.second_container{margin-left: auto;
    margin-left: auto;
    display: table;;}
.head{min-width: 1000px;
    background-color: #f5f5f5;
    border-bottom-style: solid;
    border-bottom: 1px;
    border-bottom-color: #e5e5e5;}
.form{position: relative;
    margin-top: 0;
    margin-bottom: 10px;}
.githubicon{float: left;
    position: relative;
    margin-right: 15px;
    display: block ;
    font-size: 32px;
    height:26px ;
    font-weight: bold;
    text-decoration: none;
    font-family: Helvetica ;
    color: #333;
    line-height: 25px;}
.githubicon:hover{color: #4078c0;}
.search{position: relative;
    float: left;
    margin-right: 30px;}
.form_search{position: relative;
    float: left;width: 360px;
    margin-right: 10px;
    display: block;
    box-sizing: border-box;}
.form_signup{float: right;
	width: 320px;
	margin-left: 40px;}
.searchlabel{vertical-align: middle;
    background-position: right 8px center;
    position: relative;width: 100%;
    min-height: 26px;padding: 2px;
    font-size: 12px;display: block;
    line-height: 17px;}
.searchtext{border:0;
    position: relative;
    min-height: 22px;
    font-size: 12px;
    line-height: 16px;
    padding: 3px 5px;
    width: 250px;
    display: inline-block;
    border-radius: 2px;
    border: 0;
    box-shadow: 0 0 1px;
    min-height: 22px;
    display: inline-block;}
.greenbut{background-color: #8add6b;
    border-radius: 3px;
    border-color: #d5d5d5;
    border-style: solid;
    border:1px;
    padding:6px 12px;
    margin-left: 5px;
    position: relative;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    box-sizing: border-box;color: #ffffff;}
.greenbut:hover{background-color: #60b044;}
.greenbut:active{background-color: #5ca941;}
.form_signup .greenbut{padding: 10px;
	font-size: 16px;
	border-radius: 5px;}
.whitebut{background-color: #eeeeeee;
    border-radius: 3px;
    border-color: #d5d5d5;
    border-style: solid;
    border:1px;
    padding:6px 12px;
    margin-left: 5px;
    position: relative;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    box-sizing: border-box;
    color: #333333;}
.whitebut:hover{background-color: #d5d5d5;}
.whitebut:active{background-color: #eeeeee;}
.but_block{display: block;;
	width: 100%;
	text-align: center;
    background-color: #60b044;
    box-shadow:0 0 1px yellow;
    margin:0;}
.button{float: right;
    margin-bottom: -3px;
    margin-top: -3px;}
.button1{}
.button2{}
.ul1{}
.item{float: left;
    list-style: none;}
.link{color: #333;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 13px;
    padding: 4px 8px;
    line-height: 20px;
    display: block;}
.link:hover{color: #4078c0;}
.titleh1{font-size: 62px;
	padding-top: 50px;
	font-weight: normal;
	line-height: 1;
	color: #ffffff;
	letter-spacing: -1px;
	margin-top: 0;}
.h1words{margin: 10px 0 0;
	font-size: 21px;
	line-height: 1.5;
	color: #ffffff;
	font-weight: 300;
	letter-spacing: 0.2px}
.small_text{color: #767676}
.textin:focus{box-shadow:0 0 3px #FFF9EA;}
.textin{border-radius: 5px;
    border:1px;
	padding:12px;
	font-size: 16px;
    width: 92%;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075}